body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font: 14px/1.4286 'Microsoft YaHei';
  background: url(../images/nature.jpg) center center;
  background-size: cover;
}

.container {
  width: 550px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.71);
  border-radius: 10px;
  box-shadow: 0 0 10px 9px rgba(0, 0, 0, 0.5);
}

.container .input_n {
  width: 200px;
  border: 1px solid #fff;
  border-radius: 6px;
  padding: 5px;
  outline: none;
}

.container .input_finish {
  height: 26px;
  border: 1px solid;
  border-radius: 6px;
  background-color: #fff;
  outline: none;
  transition: 0.5s all;
}

.container .input_finish:hover {
  color: rgb(104, 188, 193);
  border-color: rgb(104, 188, 193);
  cursor: pointer;
}

.container .result {
  font-size: 16px;
}
